pdfplumber
streamlit
trafilatura
langchain
nltk
torch
transformers
pydantic
orjson
langchain-community
sentence-transformers
cryptography
tokenizers
lxml_html_clean
unstructured
structlog
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
openai
langchain_openai
PyPDF2