pdfplumber
streamlit
requests
beautifulsoup4
trafilatura
langchain
nltk
torch
transformers
pydantic
orjson
langchain-community
sentence-transformers
cryptography
tokenizers
lxml_html_clean
unstructured
structlog
python-dotenv
langchain-core
langchain-huggingface
pinecone
langchain-groq
torch
PyPDF2